<table id="bookTable">
    <thead>
        <tr>
            <th>id</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Ano Edição</th>
        </tr>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    </thead>

    <tbody>
        <% @books.each do |book|%>
            <tr>
                <td><%= book.id%></td>
                <td><%= book.title%></td>
                <td><%= book.author%></td>
                <td><%= book.editionyear%></td>
            </tr>
        <%end%>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
        <script>
            $(document).ready( function () {
                $('#bookTable').DataTable(
                    {paging: false,
                    searching: false,
                    info: false,                         
                        order: [ 1, "asc" ],                    
                        //order: [[ 2, "asc" ], [1, "desc"]],                    
                        //order: [[ 3, "desc" ], [2, "desc"], [1, "asc"]],
                    } );
            } );            
        </script>
    </tbody>
</table>